{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ],
    "@babel/preset-typescript",
    "minify"
  ],
  "plugins": [
    [
      "module-resolver", {
      "alias": {
        "@": "./src"
      },
      "extenstions": [".js", ".ts"]
    }
    ]
  ]
}
